.footer{
    background-color: rgb(61, 60, 60);
    margin-left: 15%;
    margin-right: 15%;
}

.footer > .about >h4, .interest > h4{
    color: white;
    font-size: 20px;
    margin-top: 6px;
    margin-bottom: 6px;
    font-weight: bold;
}

.footer > .about > p, .interest > p{
    color: #f5f0f0de;
    font-size: 12px;
    text-justify: auto;
}

.svgIcons{
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    background-color: rgba(112, 107, 107, 0.644);
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.svgIcons > img{
    width: 40px;
    height: 40px;
    z-index: 2;
}